<button class="btn btn-sucess" 
    {% if value == 0 %} style="color: #fff; background-color: #dd4b39; font-weight: bold;" 
        {% elseif value == 1 %} style="color: #fff; background-color: #f39c12; font-weight: bold;"
        {% elseif value == 2 %} style="color: #fff; background-color: #00a65a; font-weight: bold;" 
    {% endif %}
>   
    {% if value == 0 %} Abierta
    {% elseif value == 1 %} Pendiente
    {% elseif value == 2 %} Cerrada
    {% endif %}
</button>