<div class="estado" 
    {% if value == 0 %} value=0
        {% elseif value == 1 %} value=1
        {% elseif value == 2 %} value=2
        {% elseif value == 3 %} value=3
        {% elseif value == 4 %} value=4
        {% elseif value == 5 %} value=5
    {% endif %}
>
</div>

<link rel=stylesheet href="{{asset('/css/estado.css')}}"/>