{% extends '@EasyAdmin/default/new.html.twig' %}

{% block entity_form %}
{#Esto va en head#}
<!-- Esto va en head-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
<!-- Esto va en head -->
    {{ form(form) }}
    <p><b>Ubicación de Sucursal</b></p>
    <div id="buscador">
        <label for="direccion">Dirección: <label/>
        <input type="text" id="direccion" placeholder="123 Calle, Ciudad, Provincia"/>
        <button type="button" id="buscar-btn" class="btn btn-primary">Buscar</button>
    </div>
    <div id="mapaSucursal" style="height:360px;"></div>
{% endblock %}
{% block body_javascript %}
    {{ parent() }}

    <script src="{{asset('js/sucursalDeCliente-form.js')}}"></script>

{% endblock %}